/* Controls ONLY the image size of pictures in our galler */
/* All images not referenced by this specific module will not be impacted */

:root {
    /* Gallery specific colors */
    --clr-description-background: hsla(0, 0%, 35%, 86%);
}

.image_form {
    padding: 2em;
}

.gallery__img {
    max-width: var(--img-max-size);
    max-height: var(--img-max-size);
}

.gallery__button {
    width: var(--img-max-size);
}

.photo_description_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--img-max-size) * 0.75);
    background-color: var(--clr-description-background);
    color: var(--clr-light);
    font-weight: var(--fw-light);
    font-size: 115%;
}